{% extends 'encor_app/layout.html' %}

{% block title %}カレンダー{% endblock %}

{% load static %}

{% block content %}
    <h1>Invite me!</h1>

    <div id="calendar"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
    <script src="{% static 'encor_app/user_calendar.js' %}"></script>

    <div class="cmodal" id="modal-template">
    <div class="modal__name">
    <label>名前 : <input type="text" id="name" name="name"></label></div>

    <div class="modal__times">
    <label>開始時刻 : <input type="datetime-local" id="start" name="open_date"></label>
    <label>終了時刻 : <input type="datetime-local" id="end" name="close_date"></label></div>

    <div class="modal__color">
    <label>背景色 : <input type="color" id="color"></label></div>

    <div class="modal__contact">
    <label>連絡先 : <input type="text" id="contact" name="contact"></label></div>

    <div class="modal__message">
    <label>コメント : <input type="text" id="message" name="message"></label></div>

    <div class="modal-action-buttons">
    <button class="modal-action-buttons__button save" id="save">保存</button>
    <button class="modal-action-buttons__button delete" id="delete">削除</button>
    <button class="modal-action-buttons close material-icons" id="cancel">cancel</button>
    </div>
    </div>

    <div class="smodal" id="show-modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" id="cancel">&times;</span>

            <h2>詳細</h2>
            
            <div class="modal__field">
                <label>タイトル : {{ title }}</label>
                <span id="modal-title"></span>
            </div>

            <div class="modal__field">
                <label>開始 : {{ start }}</label>
                <span id="modal-start"></span>
            </div>

            <div class="modal__field">
                <label>終了 : {{ end }}</label>
                <span id="modal-end"></span>
            </div>

            <div class="modal__field">
                <label>場所 : {{ location }}</label>
                <span id="modal-location"></span>
            </div>

            <div class="modal__field">
                <label>コメント : {{ message }}</label>
                <span id="modal-message"></span>
            </div>

            <div class="modal-actions">
            </div>
        </div>
    </div>

{% endblock%}